// This is a file you could modify if you are making your own skin.
// See README.md

// Add your own custom QSS at the end of this file

// Skin color definitions below
$base-padding: 4px;
$base-bg: #242a31;
$base-hover: #303741;
$base-pressed: #39424d;
$base-text: #eef2f7;
$base-text-disabled: #6f7b88;
$base-border: #303844;
$base-border-focus: #6ea8d3;
$base-border-radius: 2px;
$item-selected-active-bg: #355c79;
$item-selected-active-border: 1px solid #406b8a;
$item-selected-inactive-bg: #2d3440;
$item-selected-inactive-border: 1px solid #39414d;
$sub-bg: #171b20;
$sub-hover: #252c35;
$sub-text: #dce3eb;
$sub-highlight: #434d59;
$dialog-bg: #1d2229;
$median-bg: #2b3139;
$toolbutton-on: #313842;
$toolbutton-border: #3b4652;
$toolbutton-hover: #36414d;
$toolbutton-hover-border: #465361;
$toolbutton-pressed: $base-pressed;
$highlight-bg: #4d8fbe;
$highlight-pressed: #3f7ca9;
$highlight-text: #FFF;
$menu-bg: #232930;
$menuitem-hover: #314f67;
$menuitem-border: #406b8a;
$scrollbar-border: $base-border;
$scrollbar-handle: #58616d;
$scrollbar-handle-border: $base-border;
$scrollbar-handle-hover: #6a7380;
$input-bg: #171c22;
$input-border: 1px solid #2d3640;
$input-hover: #252d36;
$control-icon: #8f9aa6;
$control-icon-disabled: #4e5864;
$control-disabled: #20252b;
$slider-groove: #313842;
$slider-groove-border: #313842;
$slider-fill: #4d8fbe;
$slider-fill-border: #4d8fbe;
$slider-handle: #7a8693;
$slider-handle-border: #222;
$slider-handle-focus: #6ea8d3;
$slider-handle-focus-border: #3f7ca9;
$slider-handle-hover: #96a3af;
$slider-handle-pressed: #b4c0cb;
$slider-handle-pressed-border: #222;
$tab-selected: #303741;
$tab-deselected: #1c2026;
$tab-deselected-text: #cfd6de;
$tab-separator: #161a1f;
$tab-hover: #2e3741;
$button-bg: #313842;
$button-hover: #3a4450;
$button-focus: #365978;
$button-focus-hover-bg: #416987;
$button-focus-hover-border: #4a7494;
$button-border: 1px solid #3b4652;
$button-hover-border: #4a5562;
$radio: url(skin:controls/radio_check_dark.svg);
$radio_disabled: url(skin:controls/radio_check_disabled.svg);
$checkbox: url(skin:controls/checkbox_check_dark.svg);
$checkbox-disabled: url(skin:controls/checkbox_check_disabled.svg);
$link: #7ec4ea;

$font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Microsoft YaHei UI", "PingFang SC", "Noto Sans SC", Arial, sans-serif;
$font-size-bigger: 13pt;
$font-size-big: 12pt;
$font-size-normal: 10pt;
$font-size-medium: 9pt;
$font-size-small: 8pt;
$font-size-extra-small: 7pt;
$font-size-qslider-groove: 3pt;
$font-size-qslider-handle: 4pt;
