// This is a file you could modify if you are making your own skin.
// See README.md

// Add your own custom QSS at the end of this file

// Skin color definitions below
$base-padding: 4px;
$base-bg: #edf1f5;
$base-hover: #dbe4ec;
$base-pressed: #cfd9e3;
$base-text: #25313d;
$base-text-disabled: #95a1ad;
$base-border: #cfd7e0;
$base-border-focus: #6ea8d3;
$base-border-radius: 2px;
$item-selected-active-bg: #dcecf6;
$item-selected-active-border: 1px solid #9fbed3;
$item-selected-inactive-bg: #f3f6f8;
$item-selected-inactive-border: 1px solid #d7dde3;
$sub-bg: #FFF;
$sub-hover: #edf3f7;
$sub-text: #16212c;
$sub-highlight: #d4dde7;
$dialog-bg: $base-bg;
$median-bg: #f8fafc;
$toolbutton-on: #FFF;
$toolbutton-border: #c4d0dc;
$toolbutton-hover: #eef4f8;
$toolbutton-hover-border: #cfd9e3;
$toolbutton-pressed: $base-pressed;
$highlight-bg: #4d8fbe;
$highlight-pressed: #3f7ca9;
$highlight-text: #FFF;
$menu-bg: #f7fafc;
$menuitem-hover: #ddebf5;
$menuitem-border: #aac4d9;
$scrollbar-border: #d2dbe4;
$scrollbar-handle: #c7d4df;
$scrollbar-handle-border: $base-border;
$scrollbar-handle-hover: #b8c7d4;
$input-bg: #FFF;
$input-border: 1px solid #c7d2dd;
$input-hover: #f7fafc;
$control-icon: #5f6d7b;
$control-icon-disabled: #b7c0c9;
$control-disabled: #eef2f5;
$slider-groove: #f6f9fb;
$slider-groove-border: #d8e0e7;
$slider-fill: #6aa4cf;
$slider-fill-border: #629bc5;
$slider-handle: #FFF;
$slider-handle-border: #a8b6c2;
$slider-handle-focus: #e3eff8;
$slider-handle-focus-border: #79abc9;
$slider-handle-hover: #f3f6f9;
$slider-handle-pressed: #dcecf6;
$slider-handle-pressed-border: #79abc9;
$tab-selected: #FFF;
$tab-deselected: #e9eef2;
$tab-deselected-text: $sub-text;
$tab-separator: $base-border;
$tab-hover: #dde5ec;
$button-bg: #FFF;
$button-hover: #f5f8fb;
$button-focus: #eef6fb;
$button-focus-hover-bg: #dcecf6;
$button-focus-hover-border: #79abc9;
$button-border: 1px solid #c7d2dd;
$button-hover-border: #b0beca;
$radio: url(skin:controls/radio_check_lite.svg);
$radio_disabled: url(skin:controls/radio_check_disabled.svg);
$checkbox: url(skin:controls/checkbox_check_lite.svg);
$checkbox-disabled: url(skin:controls/checkbox_check_disabled.svg);
$link: #257ea8;

$font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Microsoft YaHei UI", "PingFang SC", "Noto Sans SC", Arial, sans-serif;
$font-size-bigger: 13pt;
$font-size-big: 12pt;
$font-size-normal: 10pt;
$font-size-medium: 9pt;
$font-size-small: 8pt;
$font-size-extra-small: 7pt;
$font-size-qslider-groove: 3pt;
$font-size-qslider-handle: 4pt;
